//- this comment will not appear in index.html
//- pug -w ./dev/index.pug -o ./dist -P
doctype html 
html    
    head 
        title Pug Template 
        link(rel="stylesheet" href="style.css")
    body 
        h1 Pug Template     
        main 
            p Content
        script(type='text/javascript', src='script.js')
