doctype html
html
    head
        title SCSS and Pug
        link(rel="stylesheet" href="style.css")
    body 
        h1 Pug and SCSS Template 
        main 
            p Content
        script(type="text/javascript", src="script.js")
