doctype html 
html    
    head    
        block head 
        script(src='./assets/scripts.js')
        line(rel='stylesheet', href='./assets/style.css')
    body 
        #main 
            block content